* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body button {
  margin: 10px;
}

.rollAmount {
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  width: 35px;
}

.game {
  visibility: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
